body{
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}
.layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 152px 1fr;
}
.sidebar{
    display: flex;
    background-color: crimson;
    gap:40px;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 32px;
    height: 100vh;
    grid-area: 1/1 / 3 / 2;
    z-index: 1;
}
.navigation>div, .dashboard, .settings>div, .searcharea,
.avatarBox, .hellobar,.uploadButtons
{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}
.searcharea, .hellobar{
    justify-content: space-around;
    margin-top:4px;
}
.header{
    height: 152px;
}
.header{
    box-shadow: 0 0 8px #474747;
}
h3,h1,.nickname,h5,h4,h6{
    margin: 0;
}
.logo, .avatar, .trendImage{
    width: 36px;
    max-height: 36px;
    border-radius: 32px;
}
.trendImage{
    width: 24px;;
}
.searchbox{
    width: 50%;
    height: 32px;
    border-radius: 16px;
    border: none;
    padding-left: 16px;
    background-color: rgb(236, 236, 236);
}
.searchbox:focus{
    outline: 1px solid darkblue;
}
.helloText{
    display: flex;
    gap:4px;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
button{
    width:96px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background-color: crimson;
    color: white;
    font-weight: bold;
}
h3,span{
    color: white;
}
.workarea{
    grid-area: 2/ 2 / 3 / 3;
    height: calc(100vh - 152px);
    padding: 16px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:16px;
    z-index: -1;
    background-color: rgb(240, 240, 240);
}
.searcharea input::placeholder{
    font-family: montserrat, sans-serif;
    font-size: 0.9em;
}
.projects{
    grid-area: 1/1/3/2;
}
.announcements{
    grid-area: 1/2/2/3;
}
.trending{
    grid-area: 2/2/3/3;
}
.projectList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:16px;
    margin-top:16px;
}
.projectItem{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    box-shadow: 0 0 8px #ccc;
    border-radius: 8px;
    border-left:4px crimson solid;
    background-color: white;
}
p{
    margin: 0;
    font-size: 0.5em;
}
.annBox{
    box-shadow: 0 0 8px #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.annItem{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.annItem:last-child{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;
    border-bottom: none;
}
.iconList{
    display: flex;
    gap:8px;
    font-size: 0.8em;
    flex-direction: row;
    justify-content: flex-end;
}
.avatarAndText{
    display: flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
}
.trendBox{
    box-shadow: 0 0 8px #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.trendItem{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}